<img style="width:100%; max-height:600px;" src="{{ page.image }}"></img>

<div class="device_content">
    <table>
        <tr>
            <td><strong>SoC</strong></td><td>{{ page.soc }}</td>
        </tr>
        <tr>
            <td><strong>CPU</strong></td><td>{{ page.cpu }}</td>
        </tr>
        <tr>
            <td><strong>GPU</strong></td><td>{{ page.gpu }}</td>
        </tr>
        <tr>
            <td><strong>RAM</strong></td><td>{{ page.ram }}</td>
        </tr>
        <tr>
            <td><strong>Storage</strong></td><td>{{ page.storage }}</td>
        </tr>
        <tr>
            <td><strong>Device No.</strong></td><td>{{ page.model }}</td>
        </tr>
    </table>
</div>
<div class="device_content">
    <table>
        <tr>
            <td><strong>Display</strong></td><td>{{ page.display }}</td>
        </tr>
        <tr>
            <td><strong>Dimensions</strong></td><td>{{ page.dimensions }}</td>
        </tr>
        <tr>
            <td><strong>Camera</strong></td><td>{{ page.camera }}</td>
        </tr>
        <tr>
            <td><strong>Battery</strong></td><td>{{ page.battery }}</td>
    
        </tr>
        <tr>
            <td><strong>Weight</strong></td><td>{{ page.weight }}</td>
        </tr>
        <tr>
            <td><strong>Codename</strong></td><td>{{ page.codename }}</td>
        </tr>
    </table>
</div>
