<nav>

<core-toolbar class="tall">
    <div class="middle">
        <img src="/img/fxp-logo-2x.png" alt="FXP Logo" width="224px" height="140px">
    </div>
</core-toolbar>

<core-menu theme="core-light-theme">
    <core-submenu icon="account-circle" label="About Us">
        <core-item label="Introduction"></core-item>
        <core-item label="Members"></core-item>
        <core-item label="Contact"></core-item>
    </core-submenu>
    <core-submenu icon="device:battery-90" label="Active Devices">
        <core-submenu label="Shinano Family">
            <core-item label="Xperia Z3"></core-item>
            <core-item label="Xperia Z3 Compact"></core-item>
            <core-item label="Xperia Z3 Tablet Compact"></core-item>
            <core-item label="Xperia Z2"></core-item>
            <core-item label="Xperia Z2 Tablet"></core-item>
        </core-submenu>
        <core-submenu label="Rhine Family">
            <core-item label="Xperia Z1"></core-item>
            <core-item label="Xperia Z1 Compact"></core-item>
            <core-item label="Xperia Z Ultra"></core-item>
        </core-submenu>
        <core-submenu label="Yukon Family">
            <core-item label="Xperia T2 Ultra"></core-item>
            <core-item label="Xperia T3"></core-item>
            <core-item label="Xperia M2"></core-item>
            <core-item label="Xperia E3"></core-item>
        </core-submenu>
    </core-submenu>
    <core-submenu icon="device:battery-20" label="Legacy Devices">
        <core-submenu label="Lagan family">
            <core-item label="Xperia Z"></core-item>
            <core-item label="Xperia ZL"></core-item>
            <core-item label="Xperia ZR"></core-item>
            <core-item label="Xperia Z Tablet"></core-item>
        </core-submenu>
        <core-submenu label="Blue Family">
            <core-item label="Xperia T"></core-item>
            <core-item label="Xperia TX"></core-item>
            <core-item label="Xperia V"></core-item>
        </core-submenu>
        <core-item label="Obsolete Devices"></core-item>
    </core-submenu>
    <core-submenu icon="android" label="AOSP by FXP">
        <core-item label="Android 5.0"></core-item>
    </core-submenu>
    <core-submenu icon="face-unlock" label="CyanogenMod">
        <core-item label="CyanogenMod 12"></core-item>
        <core-item label="CyanogenMod 11"></core-item>
    </core-submenu>
</core-menu>
    
</nav>
