<core-header-panel navigation flex mode="waterfall">
<core-toolbar class="tall">
    <div class="middle">
        <img src="/img/fxp-logo-2x.png" alt="FXP Logo" width="224px" height="140px">
    </div>
</core-toolbar>

<core-menu theme="core-light-theme">
    <core-submenu icon="info-outline" label="What is FXP?">
        <core-item label="About Us"><a href="/about/"></a></core-item>
        <core-item label="Members"><a href="/about/members/"></a></core-item>
        <core-item label="Contact"><a href="/about/contact/"></a></core-item>
    </core-submenu>
    <core-submenu icon="device:battery-90" label="Active Devices">
        <core-submenu label="Krait-400 Family">
            <core-item label="Xperia Z3"><a href="/qualcomm-krait-400-family/sony-xperia-z3/"></a></core-item>
            <core-item label="Xperia Z3 Compact"><a href="/qualcomm-krait-400-family/sony-xperia-z3-compact/"></a></core-item>
            <core-item label="Xperia Z3 Tablet Compact"><a href="/qualcomm-krait-400-family/sony-xperia-z3-tablet-compact/"></a></core-item>
            <core-item label="Xperia Z2"><a href="/qualcomm-krait-400-family/sony-xperia-z2/"></a></core-item>
            <core-item label="Xperia Z2 Tablet"><a href="/qualcomm-krait-400-family/sony-xperia-z2-tablet/"></a></core-item>
            <core-item label="Xperia Z1"><a href="/qualcomm-krait-400-family/sony-xperia-z1/"></a></core-item>
            <core-item label="Xperia Z1 Compact"><a href="/qualcomm-krait-400-family/sony-xperia-z1-compact/"></a></core-item>
            <core-item label="Xperia Z Ultra"><a href="/qualcomm-krait-400-family/sony-xperia-z-ultra/"></a></core-item>
        </core-submenu>
        <core-submenu label="Cortex-A7 Family">
            <core-item label="Xperia T2 Ultra"></core-item>
            <core-item label="Xperia T3"></core-item>
            <core-item label="Xperia M2"></core-item>
            <core-item label="Xperia E3"></core-item>
        </core-submenu>
    </core-submenu>
    <core-submenu icon="device:battery-20" label="Legacy Devices">
        <core-submenu label="Krait-200 Gen2 Family">
            <core-item label="Xperia Z"></core-item>
            <core-item label="Xperia ZL"></core-item>
            <core-item label="Xperia ZR"></core-item>
            <core-item label="Xperia Z Tablet"></core-item>
            <core-item label="Xperia SP"></core-item>
            <core-item label="Xperia L"></core-item>
            <core-item label="Xperia M"></core-item>
        </core-submenu>
        <core-submenu label="Krait-200 Gen1 Family">
            <core-item label="Xperia T"></core-item>
            <core-item label="Xperia TX"></core-item>
            <core-item label="Xperia V"></core-item>
        </core-submenu>
        <core-item label="Obsolete Devices"></core-item>
    </core-submenu>
    <core-submenu icon="android" label="AOSP by FXP">
        <core-item label="Android 5.0"></core-item>
    </core-submenu>
    <core-submenu icon="bug-report" label="CyanogenMod">
        <core-item label="CyanogenMod 12"></core-item>
        <core-item label="CyanogenMod 11"></core-item>
    </core-submenu>
</core-menu>
</core-header-panel>
