<nav>

<core-toolbar class="tall">
    <div class="middle">
        <img src="/img/fxp-logo-2x.png" alt="FXP Logo" width="224px" height="140px">
    </div>
</core-toolbar>

<core-menu theme="core-light-theme">
    <core-submenu icon="android" label="About Us">
        <core-item label="Members"></core-item>
        <core-item label="Contact"></core-item>
    </core-submenu>
    <core-submenu icon="device:battery-90" label="Active Devices">
        <core-item label="Members"></core-item>
        <core-item label="Contact"></core-item>
    </core-submenu>
    <core-submenu icon="device:battery-50" label="Legacy Devices">
        <core-item label="Members"></core-item>
        <core-item label="Contact"></core-item>
    </core-submenu>
    <core-item icon="device:battery-20" label="Obsolete Devices"></core-item>
</core-menu>
    
</nav>
