body {
  font-family: "RobotoDraft";
  font-weight: 300;
}

core-pages {
  -webkit-user-select: none;
}

core-pages > * {
  border-radius: 5px;
  font-size: 50px;
  background-color: white;
}

body /deep/ core-toolbar {
  background-color: #03a9f4;
  color: #fff;
}

core-menu {
  color: #01579b;
  margin: 10px 0 0 0;
}

core-menu > core-item {
  transition: all 300ms ease-in-out;
}

core-item a {
  text-decoration: none;
  color: currentcolor;
  margin-left: 5px;
}

core-menu > core-item.core-selected {
  background: #e1f5fe;
}

.content_padding_outer {
   margin: auto 20px;
}

.content_padding_inner {
   margin: auto auto;
   max-width: 860px;
}

.blog_post {
  background-color: white;
  margin: 20px auto;
  padding: 30px;
}